{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div class="fiche-arrow-container">
	<img class="arrow-left-fiche" alt="arrow-left-fiche" src="/themes/lesvillagesbyca/images/left-arrow-f.svg">
	<img class="arrow-left-fiche-hover" alt="arrow-left-fiche-hover" src="/themes/lesvillagesbyca/images/left-arrow-f-dark.svg">
 </div>

{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>
{% endfor %}