<form {{ attributes }}>
  <div class="exposed-form-su-part">
  <img src="/themes/lesvillagesbyca/images/Vector.png" style="margin-right:10px">
  <label class="label-filter" style="margin-right:20px">Filtrer par</label>
    {{ form.field_thematiques_start_up_target_id }}
    {{ form.field_village_taxonomie_target_id }}
    <input type="submit" type="button" value="OK"  id="edit-submit-startups-listing" class="validation-button ca-fonts-montserrat-medium" value>
  </div>
</form>
